<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620410041676-cm8ee10n31g8rii6ea2vsufeu5igj896.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620410041676-cm8ee10n31g8rii6ea2vsufeu5igj896</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>620410041676-3vupusui87ha7q8lfcegpf1kql78137o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoHRbVNWg_zNtpKAVIexwwlUKfCZ6B3Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>620410041676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plfo.plFantasyOnline</string>
	<key>PROJECT_ID</key>
	<string>fantasy-bet-18af4</string>
	<key>STORAGE_BUCKET</key>
	<string>fantasy-bet-18af4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620410041676:ios:5760c194e1d9e20a9ccbe9</string>
</dict>
</plist>